In [1]:
import numpy as np
import pandas as pd
import matplotlib as matp
import seaborn as sns
%matplotlib inline

In [2]:
iris = pd.read_csv("IRIS.csv")

In [3]:
iris.shape

(150, 6)

In [4]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [6]:
iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [7]:
iris.groupby('Species').SepalLengthCm.agg(['min', 'max', 'mean', 'median', 'std'])

                 min  max   mean  median       std
Species
Iris-setosa      4.3  5.8  5.006     5.0  0.352490
Iris-versicolor  4.9  7.0  5.936     5.9  0.516171
Iris-virginica   4.9  7.9  6.588     6.5  0.635880

In [8]:
iris.groupby('Species').SepalWidthCm.agg(['min', 'max', 'mean', 'median', 'std'])

                 min  max   mean  median       std
Species
Iris-setosa      2.3  4.4  3.418     3.4  0.381024
Iris-versicolor  2.0  3.4  2.770     2.8  0.313798
Iris-virginica   2.2  3.8  2.974     3.0  0.322497

In [9]:
iris.groupby('Species').PetalLengthCm.agg(['min', 'max', 'mean', 'median', 'std'])

                 min  max   mean  median       std
Species
Iris-setosa      1.0  1.9  1.464    1.50  0.173511
Iris-versicolor  3.0  5.1  4.260    4.35  0.469911
Iris-virginica   4.5  6.9  5.552    5.55  0.551895

In [10]:
iris.groupby('Species').PetalWidthCm.agg(['min', 'max', 'mean', 'median', 'std'])

                 min  max   mean  median       std
Species
Iris-setosa      0.1  0.6  0.244     0.2  0.107210
Iris-versicolor  1.0  1.8  1.326     1.3  0.197753
Iris-virginica   1.4  2.5  2.026     2.0  0.274650

In [11]:
iris.groupby('Species').SepalLengthCm.agg(['min', 'max', 'mean', 'median', 'std', 'var'])

                 min  max   mean  median       std       var
Species
Iris-setosa      4.3  5.8  5.006     5.0  0.352490  0.124249
Iris-versicolor  4.9  7.0  5.936     5.9  0.516171  0.266433
Iris-virginica   4.9  7.9  6.588     6.5  0.635880  0.404343

In [12]:
iris.groupby('Species').SepalLengthCm.min()

Species
Iris-setosa        4.3
Iris-versicolor    4.9
Iris-virginica     4.9
Name: SepalLengthCm, dtype: float64

In [13]:
iris.groupby('Species').SepalLengthCm.max()

Species
Iris-setosa        5.8
Iris-versicolor    7.0
Iris-virginica     7.9
Name: SepalLengthCm, dtype: float64

In [14]:
iris.groupby('Species').SepalLengthCm.mean()

Species
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: SepalLengthCm, dtype: float64

In [15]:
iris.groupby('Species').SepalLengthCm.median()

Species
Iris-setosa        5.0
Iris-versicolor    5.9
Iris-virginica     6.5
Name: SepalLengthCm, dtype: float64

In [16]:
iris.groupby('Species').SepalLengthCm.std()

Species
Iris-setosa        0.352490
Iris-versicolor    0.516171
Iris-virginica     0.635880
Name: SepalLengthCm, dtype: float64

In [17]:
iris.groupby('Species').SepalLengthCm.var()

Species
Iris-setosa        0.124249
Iris-versicolor    0.266433
Iris-virginica     0.404343
Name: SepalLengthCm, dtype: float64

In [18]:
df=pd.read_csv("Salary_Data.csv")

In [19]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [20]:
df.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [21]:
print(df['Salary'].mean())

76003.0

In [22]:
print(df['Salary'].mode())

0      37731.0
1      39343.0
2      39891.0
3      43525.0
4      46205.0
5      54445.0
6      55794.0
7      56642.0
8      56957.0
9      57081.0
10     57189.0
11     60150.0
12     61111.0
13     63218.0
14     64445.0
15     66029.0
16     67938.0
17     81363.0
18     83088.0
19     91738.0
20     93940.0
21     98273.0
22    101302.0
23    105582.0
24    109431.0
25    112635.0
26    113812.0
27    116969.0
28    121872.0
29    122391.0
Name: Salary, dtype: float64

In [23]:
print(df['Salary'].median())

65237.0

In [24]:
print(df['Salary'].std())

27414.4297845823